.NavItemActive {
  display: "flex !important";
  width: 100% !important;
  background-color: #ffb600 !important;
  padding: 5% !important;
  border-radius: 5px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #08090c;
}
.NavItemPassive {
  display: "flex";
  width: 100% !important;
  background-color: transparent;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #ffffff !important;
}
