.Rsp2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 20vh !important;
}
.Rspp1 {
  display: flex;

  width: 36vw !important;
  height: 60vh !important;

  background-color: #2d2d2d;
}
.Rspp2 {
}
