.proPer2 {
  display: flex;
  position: absolute;
  left: 333px;
  top: 968px;
}
.proPer2Line1 {
  position: absolute;
  width: 429px;
  height: 31px;
  font-family: Open Sans !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 33px !important;
  letter-spacing: 0.4px !important;

  color: #ffffff;
}
.proPer22 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: "20px !important";
}
.proPer2Line2 {
  position: absolute;
  width: 429px;
  height: 22px;
  font-family: Mulish;
  font-style: normal !important;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.1px !important;
  color: #ffffff;
}
.proPer2btngrp Button {
  position: relative;

  left: 355px;
  top: 25px;

  width: 98.33px;
  height: 30px;
  margin-right: 0 !important;
  border: 0.5px solid #ffb600 !important;
  box-sizing: border-box;
  border-radius: 4px;
}
