.NavItemActiveCRM {
  background-color: #ffb600 !important;
  padding-left: 5% !important;
  border-radius: 5px !important;
  color: white !important;
  margin: 0 !important;
}
.NavItemPassive {
  background-color: #2d2d2d !important;
  color: white !important;
}
.AccDetail {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d !important;
}
