.topdiv {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  background-color: #121417;
}
.toprightdiv {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-right: 2%;
}
.searchbox {
  background-color: #2d2d2d;
  width: 70%;
  border-radius: 5px;
  padding: 0.9%;
  color: white;
  margin-left: 2%;
}
