
.Mapcontainer{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.card{
    background-color:#2D2D2D; 
    width:60%;
    border: 0.5px solid #FFFFFF;
    border-radius: 10px !important;
}
.text{
  color: white;
  
  font-size: 20px;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;  
}