.popularServices {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25vw;
  height: 17vw;
  border-radius: 1vw;
  background: #2d2d2d;
  padding: 1vw !important;
  border: 0.05vw solid #ffffff;
  box-sizing: border-box;
  border-radius: 1vw;
}
.popularline1 {
  font-family: Open Sans !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 1.3vw !important;
  line-height: 1.4vw !important;
  display: flex;
  width: 25vw !important;
  letter-spacing: 0.44px !important;
  color: #ffffff;
}
.popularline2 {
  font-family: Open Sans !important ;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 0.8vw !important;
  line-height: 1.8vw !important;
  display: flex;
  margin-top: -0.6% !important;
  letter-spacing: 0.25px !important;
  color: #ffffff;
}
